.tpl__photo {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        grid-gap: 30px;
        justify-content: space-between;
        // margin-bottom: 30px;
    }
    .block {
        background: #FFF;
        a {
            text-decoration: none;
            color: @text-color;
        }
        .info {
            .title {
                font-size: 17px;

                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                @media (min-width: 992px) {
                    height: 95px;
                }
            }
            .time {
                font-size: 12px;
                line-height: 135%;
                color: #757575;
                display: grid;
            }
        }
        .img {
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            background-color: #eee; // если нет картинки!
            position: relative;
            height: 244px; // до перерасчета чтобы прыгало меньше
            // border-radius: 4px;
            svg {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                height: 100%;
                width: 46px;
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .img_none {
            background: #EEEEEE;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 170px; // до перерасчета чтобы прыгало меньше
            // border-radius: 4px;
            svg {
                width: 50%;
            }
        }
        &:hover {
            .img {
                background-color: #ffffff30;
                background-blend-mode: hard-light;
            }
            .title {
                color: #000;
            }
        }
    }
    .filter {
        .title {
            font-size: 18px;
            line-height: 150%;
        }
        .link {
            font-weight: 300;
            font-size: 15px;
            line-height: 150%;
            &:hover {
                color: #0379E0;
                cursor: pointer;
            }
        }
    }
}
.tpl__photo__detal {
    .grid {
        display: grid;
        @media (max-width: @screen-xs-max) {
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            grid-template-columns: 26px 1fr;
        }
        @media (min-width: @screen-lg-min) {
            grid-template-columns: 26px 1fr;
        }
        grid-gap: 50px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 30px;
        .img {
            height: 245.52px;
        }
    }
    .text {
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        p {
            text-align: left!important;
        }
        li {
            text-align: left!important;
        }
    }
}
