.tree {
    padding: 0!important;
}
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative;
    margin: 0 0 0 7px !important;
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px dotted #5291cc;
    bottom: 0px;
}
.tree li {
        background: none!important;
    margin:0;
    padding:0 0 0 1.2em;
    line-height:2em;
    color:#333;
    position:relative
}
.tree li a {
    margin: 0 0 0 5px;
}
.tree li:before {
    content:"";
    display:block;
    width:15px;
    height:0;
    border-top:1px dotted #5291cc;
    /*margin-top:-1px;*/
    border-left: 1px solid rgb(255, 255, 255);
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    height:auto;
    top:1em;
    bottom:0
}
main > div.tpl__menu-node:first-of-type {
    padding: 0;
}
.tpl__menu-node {
    font-family: 'Roboto', sans-serif;
    .node {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        @media (max-width: @screen-xs-max) {
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }
        @media (min-width: @screen-lg-min) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
        }
        justify-content: space-between;
        a {
            background: #FFFFFF;
            border-radius: 5px;
            padding: 20px;
            min-height: 85px;
            .btns {
                font-size: 15px;
                line-height: 135%;
                color: @text-color;

                display: grid;
                grid-template-columns: 1fr 26px;
                grid-gap: 20px;
            }
            &:hover {
                .btns {
                    color: @link-color;
                }
                svg {
                    fill: @link-color;
                }
            }
        }
    }
}
