@nav-height: 50px;

.nav {
    font-family: 'Roboto', sans-serif;
    height: @nav-height;
    display: flex;
    justify-content: space-between;

    top: 0;
    // width: 100%;
    right: 0;
    align-items: flex-end;
    color: #262D41;
    flex-direction: row;
    position: relative;
    transition: none;
    &.active {
        right: 0;
    }
    ul {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 100%;
        padding-left: 0;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 0;
        li {
            list-style-type: none;
            font-size: 15px;
            height: 100%;
            display: flex;
            align-items: center;
            &+li {
                padding-left: 30px;
            }
            a {
                text-decoration: none;
                font-size: 16px;
                color: @text-color;
                white-space: nowrap;
                &:hover {
                    color: #0059B7;
                }
            }
            .open {
                color: @link-color;
                &:hover {
                    color: @link-color;
                }
                border-bottom: none;
                padding-bottom: 0;
            }
            .lavel {
                display: none;
                position: absolute;
                border-top: 2px solid #0059B7;
                padding: 20px;
                top: 0;
                margin-top: @nav-height;
                background: #FFF;
                z-index: 1;
                filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
                > div {
                    max-width: 310px;
                    a {
                        white-space: normal;
                        padding: 0;
                    }
                }
            }
            &:hover {
                .lavel {
                    display: block;
                }
            }
        }
    }
    .bottom {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0;
        align-items: flex-start;
        a {
            display: flex;
            align-items: center;
        }
    }
}












.nav-mobile {
    font-family: 'Roboto', sans-serif;
    height: @nav-height;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 16px;
    @media (min-width: 992px) {
        display: none;
    }
    .logo {
        display: flex;
        flex-direction: row;
        svg {
            width: 70px;
        }
        a + a {
            margin-left: 12px;
        }
        h1 {
            font-weight: 500;
            font-size: 10px;
            line-height: 1.5;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            margin-left: 12px;
        }
    }
    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        display: flex;
        transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) 0s;
        color: #262D41;
        justify-content: right;
        z-index: 2;
        background: #FFF;
        &.active {
            right: 0;
        }
        .info {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 20px 35px;
            justify-content: space-evenly;
            align-items: flex-start;
            font-size: 14px;
        }
        .top {
            width: 100%;
            height: @nav-height;
            display: flex;
            padding-left: 35px;
            color: #0059B7;
            margin: 12px 0;
            .name {
                display: flex;
                align-items: center;
            }
        }
        .overflow {
            overflow-x: auto;
            width: 100%;
            ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 20px 35px;
                justify-content: space-evenly;
                align-items: flex-start;
                li {
                    display: flex;
                    flex-direction: column;
                    &+li {
                        padding-top: 40px;
                    }
                    a {
                        text-decoration: none;
                        color: @text-color;
                    }
                    .item {
                        display: flex;
                        align-items: center;
                        a {
                            font-size: 22px;
                        }
                        .more {
                            width: 44px;
                            height: 44px;
                            border-radius: 130px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 20px;
                            transition: all 0.3s ease 0s;
                            &.active {
                                background: #F5F5F5;
                                fill: #0059B7;
                                transform: rotate(-180deg);
                                transition: all 0.3s ease 0s;
                            }
                        }
                    }
                    .open {
                        color: @link-color;
                        width: fit-content;
                    }
                    .lavel {
                        flex-direction: column;
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 1.6;
                        color: #4F4F4F;
                        margin-top: 20px;
                        display: none;
                        &.active {
                            display: flex;
                            transition: all 0.3s ease 0s;
                        }
                        a + a {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

    .burger {
        right: 0;
        position: absolute;
        width: 60px;
        height: @nav-height;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        .block {
            position: relative;
            width: 30px;
            height: 20px;
            &:before,
            &:after {
                content: "";
                position: absolute;
                background-color: #0059B7;
                width: 100%;
                height: 2px;
                transition: all 0.3s ease 0s
            }
            &:before {
                top: 0
            }
            &:after {
                bottom: 0
            }
            span {
                position: absolute;
                left: 0;
                top: 9px;
                background-color: #0059B7;
                width: 100%;
                height: 2px;
                transition: all 0.3s ease 0s
            }
        }
        &.active {
            .block {
                span {
                    transform: scale(0)
                }
                &:before {
                    transform: rotate(45deg);
                    top: 9px
                }
                &:after {
                    transform: rotate(-45deg);
                    bottom: 9px
                }
            }
        }
    }
}
