@import '../../../themes/admin/less/settings.less';

@font-family:               'Fira Sans', sans-serif;;
@font-size:                 15px;
@font-weight:               400;
@line-height:               1.4;

@font-size-h1:              16px;
@font-size-h2:              36px;
@font-size-h3:              ceil((@font-size * 1.8));
@font-size-h4:              ceil((@font-size * 1.3));
@font-size-h5:              @font-size;
@font-size-h6:              ceil((@font-size * 0.8));

// main colors
@text-color:                #333333;
@link-color:                #0059B7;

