@import 'settings.less';
@import '../../admin/less/components.less';
// @import '../../admin/less/components/non-responsive.less';
@import '../../../modules/admin_cms/tree_node/less/style.less';
@import 'navbar.less';

@media (max-width: @screen-xs-max) {
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
}
@media (min-width: @screen-lg-min) {
}

header {
    @media (max-width: @screen-xs-max) {
        margin: 12px 0!important;
    }
}
main {
    background: #F5F5F5;
}
footer {
    font-family: 'Roboto', sans-serif;
    .row {
        display: grid;
        @media (max-width: @screen-xs-max) {
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            grid-template-columns: 1fr 170px 170px 170px 170px;
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            grid-template-columns: 1fr 170px 170px 170px 170px;
        }
        @media (min-width: @screen-lg-min) {
            grid-template-columns: 1fr 170px 170px 170px 170px;
        }
        grid-gap: 30px;
    }
    .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-gap: 20px;
        flex-direction: column;
        @media (min-width: @screen-xs-max) {
            flex-direction: row;
        }

    }
    .logo {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-gap: 20px;
        .name {
            font-size: 15px;
            color: @text-color;
        }
        svg {
            width: 100%;
        }
    }
    .menu {
        a {
            color: @text-color;
            display: inline-block;
            &:hover {
               color: darken(@text-color, 15%);
            }
        }
        .node a {
            font-size: 14px;
            color: #757575;
            &:hover {
                color: #0379E0;
            }
        }
    }
}
