// Стили для дерева в админке
.treeview {
    white-space: nowrap;
    .opened {
        display: inline-block;
        text-align: center;
        cursor: pointer;
        padding: 0;
        position: absolute;
        left: -2px;
        font-size: 8px;
        top: 8px;
    }
    .move__cursor-top {
        position: absolute;
        top: -8px;
        left: 4px;
    }
    .move__cursor-bottom {
        position: absolute;
        bottom: -8px;
        left: 4px;
    }
    .move__cursor-center {
        position: absolute;
        top: 6px;
        left: 4px;
    }
    .item {
        // border: 1px dashed silver;
        // margin: 2px 0;
        cursor: pointer;
        position: relative;
        font-size: 14px;
        color: rgb(121, 121, 121);
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 4px 6px;
        .move__block {
            position: absolute;
            // border: 1px dashed silver;
            cursor: pointer;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 100;
            &.selected {
                background: #77777750;
            }
            &:hover {
                background: #77777730;
            }
        }
    }
    .item.selected {
        border: 1px solid silver;
        background: silver;
    }
    ul {
        padding:0;
        list-style:none;
        position:relative;
        margin: 0 0 0 7px !important;
        &:before {
            content:"";
            display:block;
            width:0;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            border-left: 1px solid #dadada;
            bottom: 0px;
        }
    }
    li {
        margin:0;
        padding:0 0 0 1.2em;
        color:#333;
        position:relative;
        &:before {
            content:"";
            display:block;
            width:15px;
            height:0;
            border-left: 1px solid #ffffff;
            position:absolute;
            top:12px;
            left:0
        }
    }
    ul li:last-child:before {
        height:auto;
        top:12px;
        bottom:0
    }
}
