@import '../../../themes/default/less/settings.less';

@import '../tpl/news/style.less';
@import '../tpl/text/style.less';
@import '../tpl/files/style.less';
@import '../tpl/photo/style.less';
@import '../tpl/node/style.less';
@import '../tpl/video/style.less';

.b-browser__wrapper {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    box-sizing: content-box;
    text-align: center;
    h1 {
        font-size: 56px;
        font-weight: 500;
    }
}
