.tpl__text {
    .time {
        font-weight: 300;
        line-height: 150%;
    }
    .text {
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        p {
            text-align: left!important;
        }
        li {
            text-align: left!important;
        }
    }
    .files {
        background: #FFF;
        color: #212121;
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-gap: 20px;
        .title {
            margin-bottom: 5px;
            a {
                font-weight: 300;
                font-size: 16px;
                line-height: 150%;
            }
        }
        a {
            color: #212121;
            &:hover {
                color: darken(@link-color, 15%);
            }
        }
        .line {
            color: #212121;
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            display: grid;
            grid-gap: 10px;
            @media (min-width: @screen-xs-max) {
                grid-template-columns: auto 1fr;
            }
            align-items: center;
            .line_btn {
                display: grid;
                grid-gap: 10px;
                grid-template-columns: auto auto 1fr;
                @media (max-width: @screen-xs-max) {
                    width: 100%;
                    grid-template-columns: repeat(2, 1fr);
                }
                .link {
                    line-height: 135%;
                    padding: 0 20px;
                    background: #EEEEEE;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 25px;
                }
            }
        }
    }
    .list {
        .data {
            color: #757575;
            font-weight: 300;
            font-size: 12px;
            line-height: 135%;
        }
        .title {
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;
            color: @text-color;
            &:hover {
                color: @link-color;
            }
        }
    }
}
