.b-captcha {
    height: 40px;
    /*&:active {
        z-index: 3 !important;
    }*/
}
.form-loader {
    display: none;
    margin: 30px 0;
    label {
        margin-bottom: 20px;
    }
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        // width: 50%;
        margin: 0 auto;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
.login_esia {
    .esia {
        display: flex;
        align-items: center;
        font-size: 20px;
        color: #333;
    }
}
