@import '../../../../themes/default/less/settings.less';
.phonebook {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 30px;
    }
    .block {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: #4F5B62;
        img {
            background: linear-gradient(64.89deg, #253387 0%, #db396a 100%);
            border-radius: 150px;
            width: 150px;
            border: 2px solid #fff;
        }
        .fio {
            font-weight: 600;
            font-size: 17px;
        }
        .position {
            font-size: 15px;
        }
    }
}
