// крутит svg картинки
.animation-rotate {
    animation: animation-rotate 2s infinite linear;
}

@keyframes animation-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
