// Хлебные крохи
.breadcrumb {
    list-style: none;
    font-size: 14px;
    line-height: 130%;
    > li {
        display: inline-block;
        + li:before {
            padding: 0 5px;
            color: #4F5B62;;
            content: "/\00a0"; // Unicode space added since inline-block means non-collapsing white-space
        }
    }
    > .active {
        color: #757575;
    }
}
.tpl__breadcrumb_new {
    .grid {
        display: grid;
        grid-template-columns: 26px 1fr;
        grid-gap: 5px;
        @media (max-width: @screen-xs-max) {
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            grid-gap: 50px;
        }
        @media (min-width: @screen-lg-min) {
            grid-gap: 50px;
        }
        align-items: center;
        line-height: 0;
    }
}
