.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;

  padding: 8px 20px;
  font-size: 16px;
  line-height: 1.42;
  border-radius: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none; // IE10+
          user-select: none;
  &:hover,
  &.focus {
    color: #333333;
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    filter: ~"alpha(opacity=65)";
    opacity: 0.65;
  }

  a& {
    &.disabled {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
  }
}


// Alternate buttons
// --------------------------------------------------
.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:hover {
    color: @color;
    background-color: darken(@background, 10%);
    border-color: darken(@border, 12%);
  }
  &.disabled,
  &[disabled] {
    &:hover {
      background-color: @background;
      border-color: @border;
    }
  }
}

.btn-default {
  .button-variant(#333333; #ffffff; #cccccc);
}
.btn-info {
  .button-variant(#fff; #5bc0de; #46b8da);
}
// Success appears as green
.btn-success {
  .button-variant(#ffffff; #5cb85c; #4cae4c);
}
// Warning appears as orange
.btn-error {
  .button-variant(#ffffff; #d9534f; #d43f3a);
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  font-weight: 400;
  color: #000a12;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled] {
    background-color: transparent;
  }
  &,
  &:hover,
  &:active {
    border-color: transparent;
  }
  &:hover {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
  }
  &[disabled] {
    &:hover {
      color: #97abb6;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.3333333;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 14px;
  line-height: 1.5;
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
