label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
  &[disabled],
  &.disabled {
    cursor: not-allowed;
  }
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 7px 10px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #6f8b9b;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  -webkit-transition: ~"border-color ease-in-out .15s, box-shadow ease-in-out .15s";
       -o-transition: ~"border-color ease-in-out .15s, box-shadow ease-in-out .15s";
          transition: ~"border-color ease-in-out .15s, box-shadow ease-in-out .15s";
  &[disabled],
  &[readonly] {
    background-color: #eee;
    opacity: 1;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  textarea& {
    height: auto;
  }
}

.form-group {
  margin-bottom: 15px;
}

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  &.disabled {
    label {
      cursor: not-allowed;
    }
  }

  label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
  }
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
  &.disabled {
    cursor: not-allowed;
  }
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; // space out consecutive inline controls
}
