@param-xs:  15px;
@param-sm:  20px;
@param-md:  25px;
@param-lg:  30px;

@iterations: 4;

.gap-loop (@i) when (@i >= 0) {

    @class: e(replace("@{i}", "\.", "_"));

    .mm@{class} {
        @media (max-width: @screen-xs-max) {
            margin: (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            margin: (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            margin: (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            margin: (@param-lg * @i);
        }
    }
    .mt@{class} {
        @media (max-width: @screen-xs-max) {
            margin-top: (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            margin-top: (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            margin-top: (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            margin-top: (@param-lg * @i);
        }
    }
    .mb@{class} {
        @media (max-width: @screen-xs-max) {
            margin-bottom: (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            margin-bottom: (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            margin-bottom: (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            margin-bottom: (@param-lg * @i);
        }
    }
    .ml@{class} {
        @media (max-width: @screen-xs-max) {
            margin-left: (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            margin-left: (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            margin-left: (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            margin-left: (@param-lg * @i);
        }
    }
    .mr@{class} {
        @media (max-width: @screen-xs-max) {
            margin-right: (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            margin-right: (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            margin-right: (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            margin-right: (@param-lg * @i);
        }
    }
    .mx@{class} {
        @media (max-width: @screen-xs-max) {
            margin-right: (@param-xs * @i);
            margin-left:  (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            margin-right: (@param-sm * @i);
            margin-left:  (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            margin-right: (@param-md * @i);
            margin-left:  (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            margin-right: (@param-lg * @i);
            margin-left:  (@param-lg * @i);
        }
    }
    .my@{class} {
        @media (max-width: @screen-xs-max) {
            margin-top:     (@param-xs * @i);
            margin-bottom:  (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            margin-top:     (@param-sm * @i);
            margin-bottom:  (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            margin-top:     (@param-md * @i);
            margin-bottom:  (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            margin-top:     (@param-lg * @i);
            margin-bottom:  (@param-lg * @i);
        }
    }
    .pp@{class} {
        @media (max-width: @screen-xs-max) {
            padding: (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            padding: (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            padding: (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            padding: (@param-lg * @i);
        }
    }
    .pt@{class} {
        @media (max-width: @screen-xs-max) {
            padding-top: (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            padding-top: (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            padding-top: (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            padding-top: (@param-lg * @i);
        }
    }
    .pb@{class} {
        @media (max-width: @screen-xs-max) {
            padding-bottom: (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            padding-bottom: (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            padding-bottom: (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            padding-bottom: (@param-lg * @i);
        }
    }
    .pl@{class} {
        @media (max-width: @screen-xs-max) {
            padding-left: (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            padding-left: (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            padding-left: (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            padding-left: (@param-lg * @i);
        }
    }
    .pr@{class} {
        @media (max-width: @screen-xs-max) {
            padding-right: (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            padding-right: (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            padding-right: (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            padding-right: (@param-lg * @i);
        }
    }
    .px@{class} {
        @media (max-width: @screen-xs-max) {
            padding-right: (@param-xs * @i);
            padding-left:  (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            padding-right: (@param-sm * @i);
            padding-left:  (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            padding-right: (@param-md * @i);
            padding-left:  (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            padding-right: (@param-lg * @i);
            padding-left:  (@param-lg * @i);
        }
    }
    .py@{class} {
        @media (max-width: @screen-xs-max) {
            padding-top:     (@param-xs * @i);
            padding-bottom:  (@param-xs * @i);
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            padding-top:     (@param-sm * @i);
            padding-bottom:  (@param-sm * @i);
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            padding-top:     (@param-md * @i);
            padding-bottom:  (@param-md * @i);
        }
        @media (min-width: @screen-lg-min) {
            padding-top:     (@param-lg * @i);
            padding-bottom:  (@param-lg * @i);
        }
    }

    .gap-loop(@i - 0.25);
}

.gap-loop(@iterations);

