.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    &:hover {
        color: #000000;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.5;
    }
    button& {
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        appearance: none;
    }
}

.modal-open {
    overflow: hidden;
}

// Container that the modal scrolls within
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    // When fading in the modal, animate it to slide down
    &.fade .modal-dialog {
        -webkit-transform: translate(0, -25%);
          -ms-transform: translate(0, -25%); // IE9 only
           -o-transform: translate(0, -25%);
              transform: translate(0, -25%);
        -webkit-transition: -webkit-transform ~"0.3s ease-out";
         -moz-transition: -moz-transform ~"0.3s ease-out";
           -o-transition: -o-transform ~"0.3s ease-out";
              transition: transform ~"0.3s ease-out";
    }
    &.in .modal-dialog {
        -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0); // IE9 only
           -o-transform: translate(0, 0);
              transform: translate(0, 0);
    }
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

// Actual modal
.modal-content {
    position: relative;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #999999; //old browsers fallback (ie8 etc)
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    // Remove focus outline from opened modal
    outline: 0;
}

// Modal background
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    // Fade for backdrop
    &.fade {
        opacity: 0;
    }
    &.in {
        opacity: 0.5;
    }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    padding: 30px 40px;
    border-bottom: 1px solid #dedede;
}
// Close icon
.modal-header .close {
    margin-top: -2px;
}

// Title text within header
.modal-title {
    margin: 0;
    line-height: 1.42;
    font-weight: 500;
    color: #000;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
    position: relative;
    padding: 20px 40px;
}

// Footer (for actions)
.modal-footer {
    padding: 15px;
    text-align: right; // right align buttons
    // Properly space out buttons
    .btn + .btn {
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
        margin-left: 5px;
    }
    // but override that for button groups
    .btn-group .btn + .btn {
        margin-left: -1px;
    }
    // and override it for block buttons as well
    .btn-block + .btn-block {
        margin-left: 0;
    }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

// Scale up the modal
@media (min-width: @screen-sm-min) {
    // Automatically set modal's width for larger viewports
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}
