@container-width: 1200px;

html {
    min-width: @container-width + @grid-gutter-width;
}
.container {
    max-width: none !important;
    width: @container-width;
}
body {
    min-width: @container-width;
}
