// Пагинация
.pagination {
    display: flex;
    flex-direction: row;
    a {
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        float: left;
        text-decoration: none;
        background: #FFF;
        font-weight: 300;
        font-size: 18px;
        line-height: 0;
        color: #333;
        &:hover {
            background: #eeeeee;
            border-color: #dddddd;
        }
        /*&:first-child {
            font-size: 23px;
        }
        &:last-child {
            font-size: 23px;
        }*/
    }
    a + a {
        margin-left: 10px;
    }

    .active {
        cursor: default;
        background: #F0F0F0;
        &:hover {
            background: #F0F0F0;
            border-color: #D3D3D3;
        }
    }

    .disabled {
        color: #97abb6;
        cursor: not-allowed;
    }
}
