.hidden {
    display: none !important;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}

.visible-xs {
    @media (max-width: @screen-xs-max) {
        display: block !important;
    }
}
.visible-xs-block {
    @media (max-width: @screen-xs-max) {
        display: block !important;
    }
}
.visible-xs-inline {
    @media (max-width: @screen-xs-max) {
        display: inline !important;
    }
}
.visible-xs-inline-block {
    @media (max-width: @screen-xs-max) {
        display: inline-block !important;
    }
}

.visible-sm {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        display: block !important;
    }
}
.visible-sm-block {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        display: block !important;
    }
}
.visible-sm-inline {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        display: inline !important;
    }
}
.visible-sm-inline-block {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        display: inline-block !important;
    }
}

.visible-md {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        display: block !important;
    }
}
.visible-md-block {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        display: block !important;
    }
}
.visible-md-inline {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        display: inline !important;
    }
}
.visible-md-inline-block {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        display: inline-block !important;
    }
}

.visible-lg {
    @media (min-width: @screen-lg-min) {
        display: block !important;
    }
}
.visible-lg-block {
    @media (min-width: @screen-lg-min) {
        display: block !important;
    }
}
.visible-lg-inline {
    @media (min-width: @screen-lg-min) {
        display: inline !important;
    }
}
.visible-lg-inline-block {
    @media (min-width: @screen-lg-min) {
        display: inline-block !important;
    }
}

.hidden-xs {
    @media (max-width: @screen-xs-max) {
        display: none !important;
    }
}
.hidden-sm {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        display: none !important;
    }
}
.hidden-md {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        display: none !important;
    }
}
.hidden-lg {
    @media (min-width: @screen-lg-min) {
        display: none !important;
    }
}
