.sticky {
    background: #001B36;
    display: flex;
    height: 40px;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 1.35;
    .flex2 {
       display: flex;
        height: 40px;
        align-content: space-between;
        margin-left: auto;
        align-items: center;
        justify-content: center;
    }
    .item {
        padding: 0 10px;
        color: #fff;
    }
    svg {
        height: 25px;
        width: 100%;
    }
    a {
        text-decoration: none;
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }

}
