th {
    text-align: left;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 22px;
    > thead,
    > tbody,
    > tfoot {
    > tr {
      > th,
      > td {
        padding: 8px;
        line-height: 1.42;
        vertical-align: top;
        // border-top: 1px solid #dddddd;
        border: 1px solid #dddddd;
      }
    }
    }
    > thead > tr {
    > th,
    > td {
        border-bottom-width: 2px;
    }
    }
    // Bottom align for column headings
    > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #dddddd;
    }
    // Remove top border from thead by default
    > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
        border-top: 2px solid #dddddd;
    }
}
// белая / сервая строка
.table-striped {
    > tbody > tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
}
// Hover эфект
.table-hover {
    > tbody > tr:hover {
        background-color: #f5f5f5;
    }
}
