* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: @font-family;
    font-size: @font-size;
    font-weight: @font-weight;
    line-height: @line-height;
    color: @text-color;
    background-color: #fff;
}

a {
    color: @link-color;
    text-decoration: none;
    &:hover {
        color: darken(@link-color, 15%);
        text-decoration: none;
    }
}

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #cccccc;
}

.h-loop (@i, @size) {
    h@{i}, .h@{i} {
        // font-size: @size;
        font-family: @font-family;
        font-weight: @font-weight;
        line-height: @line-height;
        margin: 0;
        @media (max-width: @screen-xs-max) {
            font-size: floor((@size * 0.7));
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            font-size: floor((@size * 0.8));
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            font-size: floor((@size * 0.9));
        }
        @media (min-width: @screen-lg-min) {
            font-size: floor((@size * 1));
        }
    }
}
.h-loop (1, @font-size-h1);
.h-loop (2, @font-size-h2);
.h-loop (3, @font-size-h3);
.h-loop (4, @font-size-h4);
.h-loop (5, @font-size-h5);
.h-loop (6, @font-size-h6);

p {
    margin: 0 0 15px;
}

small, .small {
    font-size: 87%;
}

// Unordered and Ordered lists
ul, ol {
    margin-top: 0;
    margin-bottom: 11px;
    ul, ol {
        margin-bottom: 0;
    }
}

// Description Lists
dl {
    margin-top: 0; // Remove browser default
    margin-bottom: 20px;
}
dt, dd {
    line-height: @line-height;
}
dt {
    font-weight: 700;
}
dd {
    margin-left: 0; // Undo browser default
}

.container {
    padding-right: ceil((@grid-gutter-width / 2));
    padding-left: floor((@grid-gutter-width / 2));
    margin-right: auto;
    margin-left: auto;

    @media (min-width: @screen-sm-min) {
        width: @container-sm;
    }
    @media (min-width: @screen-md-min) {
        width: @container-md;
    }
    @media (min-width: @screen-lg-min) {
        width: @container-lg;
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
