.tpl__news {
    font-family: 'Roboto', sans-serif;
    .rotate {
        display: grid;
        grid-template-columns: 1fr;
        @media (max-width: @screen-xs-max) {
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            grid-template-columns: 1fr 240px;
        }
        @media (min-width: @screen-lg-min) {
            grid-template-columns: 1fr 240px;
        }
        grid-gap: 60px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 30px;
        justify-content: space-between;
        // margin-bottom: 30px;
    }
    .block {
        background: #FFF;
        a {
            text-decoration: none;
            color: @text-color;
        }
        .info {
            .title {
                font-size: 17px;

                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                @media (min-width: 992px) {
                    height: 95px;
                }
            }
            .category {
                background: #FAFAFA;
                font-weight: 300;
                font-size: 14px;
                line-height: 100%;
                padding: 5px 10px;
                display: inline-table;
            }
            .time {
                font-size: 12px;
                line-height: 135%;
                color: #757575;
                display: grid;
            }
        }
        .img {
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            background-color: #eee; // если нет картинки!
            position: relative;
            height: 170px; // до перерасчета чтобы прыгало меньше
            // border-radius: 4px;
            svg {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                height: 100%;
                width: 46px;
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .img_none {
            background: #EEEEEE;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 170px; // до перерасчета чтобы прыгало меньше
            // border-radius: 4px;
            svg {
                width: 50%;
            }
        }
        &:hover {
            .img {
                background-color: #ffffff30;
                background-blend-mode: hard-light;
            }
            .title {
                color: #0059b7;
            }
        }
    }
    .filter {
        .title {
            font-size: 18px;
            line-height: 150%;
        }
        .link {
            font-weight: 300;
            font-size: 15px;
            line-height: 150%;
            &:hover {
                color: #0379E0;
                cursor: pointer;
            }
            &.active {
                color: #0379E0;
            }
        }
    }
}
.tpl__news__detal {
    .grid {
        display: grid;
        @media (max-width: @screen-xs-max) {
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            grid-template-columns: 26px 1fr 270px;
        }
        @media (min-width: @screen-lg-min) {
            grid-template-columns: 26px 1fr 270px;
        }
        grid-gap: 50px;
    }
    .time {
        font-weight: 300;
        line-height: 150%;
    }
    .text {
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        p {
            text-align: left!important;
        }
        li {
            text-align: left!important;
        }
    }
    .files {
        background: #FFF;
        color: #212121;
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-gap: 20px;
        .title {
            margin-bottom: 5px;
            a {
                font-weight: 300;
                font-size: 16px;
                line-height: 150%;
            }
        }
        a {
            color: #212121;
            &:hover {
                color: darken(@link-color, 15%);
            }
        }
        .line {
            color: #212121;
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            display: grid;
            grid-gap: 10px;
            @media (min-width: @screen-xs-max) {
                grid-template-columns: auto 1fr;
            }
            align-items: center;
            .line_btn {
                display: grid;
                grid-gap: 10px;
                grid-template-columns: auto auto 1fr;
                @media (max-width: @screen-xs-max) {
                    width: 100%;
                    grid-template-columns: repeat(2, 1fr);
                }
                .link {
                    line-height: 135%;
                    padding: 0 20px;
                    background: #EEEEEE;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 25px;
                }
            }
        }
    }
    .list {
        .data {
            color: #757575;
            font-weight: 300;
            font-size: 12px;
            line-height: 135%;
        }
        .title {
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;
            color: @text-color;
            &:hover {
                color: @link-color;
            }
        }
    }
    .swiper-container {
        height: 100%;
        .swiper-slide a div {
            height: 100%;
        }
        .swiper-button-prev {
            left: 0;
            right: auto;
            top: 0;
            bottom: 0;
            height: 100%;
            margin: 0;
            width: 10%;
            color: #ffffff;
            outline: none;
            &:after {
                // content: '';
            }
        }
        .swiper-button-next {
            right: 0;
            left: auto;
            top: 0;
            bottom: 0;
            height: 100%;
            margin: 0;
            width: 10%;
            color: #ffffff;
            outline: none;
            &:after {
                // content: '';
            }
        }
        .swiper-pagination {
            text-align: right;
            padding-right: 30px;
            bottom: 30px;
        }
        .swiper-pagination-bullet {
            width: 100px;
            height: 2px;
            background: #E0E0E0;
            border-radius: 0px;
            opacity: 1;
            margin-right: 10px;
        }
        .swiper-pagination-bullet:last-of-type {
            margin-right: 0;
        }
        .swiper-pagination-bullet-active {
            background: #DB396A;
        }
    }
}
