@screen-sm-min:              768px;
@screen-md-min:              992px;
@screen-lg-min:              1200px;

// Чтобы медиа-запросы не перекрывались, когда это необходимо, укажите максимум
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

// == Размеры контейнера
//
// ## Определяем максимальную ширину `.container` для разных размеров экрана.
// Small screen / tablet (Маленький экран / планшет)
@container-sm:              (720px + @grid-gutter-width);

// Medium screen / desktop (Средний экран / рабочий стол)
@container-md:              (940px + @grid-gutter-width);

// Large screen / wide desktop (Large screen / wide desktop)
@container-lg:              (1170px + @grid-gutter-width);

@grid-gutter-width:         30px;

//** Load fonts from this directory.
@icon-font-path:            "/themes/admin/less/components/fonts/";
//** File name for all font files.
@icon-font-name:            "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:          "glyphicons_halflingsregular";


// --- ниже изменяемые параметры ---
@font-family:               'Montserrat', sans-serif;
@font-size:                 16px;
@font-weight:               normal;
@line-height:               1.42;

@font-size-h1:              floor((@font-size * 1.9));
@font-size-h2:              floor((@font-size * 2.5));
@font-size-h3:              ceil((@font-size * 1.8));
@font-size-h4:              ceil((@font-size * 1.3));
@font-size-h5:              @font-size;
@font-size-h6:              ceil((@font-size * 0.8));

// main colors
@text-color:                #000A12;
@link-color:                #000A12;
