@import 'settings.less';
@import 'components.less';
@import 'components/non-responsive.less';
@import 'admin/button-groups.less';
@import 'admin/dropdowns.less';
@import 'admin/glyphicons.less';
@import 'admin/input-groups.less';
@import 'admin/treeview.less';

main {
    margin: 10px 0 50px 0;
    .menu_grid {
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-gap: 30px;
    }
}

.block-modul {
    border-bottom: 1px solid #222;
    .btn-active{
        color: #777777;
        background-color: #c8caca;
        border-color: #cccccc;
    }
}

footer {
    background: #222222;
    height: 30px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    a {
        color: #FFF;
        &:hover {
            color: #FFF;
        }
    }
    .loader {
        margin: 50px 25px;
    }
}

.message_list {
    position: fixed;
    bottom: 50px;
    right: 0px;
    color: #000;
    z-index: 1100;
    .sms {
        margin: 5px;
        border: 1px solid #38c7f0;
        background: #fff;
        padding: 5px;
        width: 240px;
        border-radius: 5px;
        font-size: 12px;
    }
    .sms.error {
        border: 1px solid #ff0000;
    }
    .time {
        text-align: right;
        font-size: 10px;
    }
}
.info {
    background-color: #d9edf7;
}
span {
  font-weight: 300;
}

